.header {
  position: fixed;
  top: 0;
  width: 100%;

  background: rgba(2, 6, 23, 0.6);
  backdrop-filter: blur(12px);
  z-index: 99999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* container */
.dom {
  display: flex;
  align-items: center;

  position: relative;
  padding: 15px 20px;
}

/* logo */
.logo {
  flex: 1; /* 👈 важно */

  font-size: 28px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: 0.3s;
}

.logo:hover {
  color: #8b5cf6;
}

/* NAV */
.navfull {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;

  background: rgba(2, 6, 23, 0.95);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 20px 0;

  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;

  transition: 0.3s;
  z-index: 9999;
}

.navOpen {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

/* CONTACT MENU */
.contactMenu {
  position: absolute;
  top: 60px;
  right: 0;

  background: rgba(2, 6, 23, 0.95);
  border-radius: 10px;

  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  min-width: 200px;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: 0.3s;
  z-index: 100000;
}

.contactMenu.contactOpen {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

/* icons */
.right {
  flex: 1; /* 👈 важно */

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 20px;

  background: transparent;
  transition: 0.3s;
}

.icon:hover {
  color: #8b5cf6;
  transform: translateY(-2px);
}

/* burger */
.burger {
  font-size: 22px;
  color: white;

  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
}

/* links */
.link {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: #8b5cf6;
}

/* 📱 TABLET+ */
@media (min-width: 768px) {
  .navfull {
    position: static;

    flex-direction: row;
    gap: 30px;

    flex: 1; /* 👈 ключ */
    justify-content: center;

    opacity: 1;
    pointer-events: all;
    transform: none;

    background: none;
    padding: 0;
  }

  .burger {
    display: none;
  }
}

/* 💻 DESKTOP */
@media (min-width: 1024px) {
  .dom {
    padding: 20px 50px;
  }
}
